html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Roboto", -apple-system, "San Francisco", "Segoe UI", "Helvetica Neue", sans-serif;
    background-color: #eee;
    height: 100%;
}

@page {
    size: A4 portrait;
}

@media print {
    html,
    body {
        background-color: #fff;
    }
    .page {
        width: initial !important;
        min-height: initial !important;
        margin: 0 !important;
        padding: 0 !important;
        border: initial !important;
        border-radius: initial !important;
        background: initial !important;
        box-shadow: initial !important;
    }
}

.sidebar input {
  max-width: 230px;
}

