html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Roboto", -apple-system, "San Francisco", "Segoe UI", "Helvetica Neue", sans-serif;
    background-color: #eee;
    height: 100%;
}

@media print {

    html,
    body {
        background-color: #fff;
    }

    .page {
        width: initial !important;
        min-height: initial !important;
        margin: 0 !important;
        padding: 0 !important;
        border: initial !important;
        border-radius: initial !important;
        background: initial !important;
        box-shadow: initial !important;
    }
}

#a4-container {
    cursor: default;
}

.hoverable {
    cursor: text;
}

.sidebar .hoverable:hover,
.main .hoverable:hover,
.ta-desc:hover {
    border-radius: var(--border-radius-base);
    background: var(--hover-bg);
    border-color: var(--hover-border);
    box-shadow: var(--hover-shadow);
}

.sidebar .hoverable:hover {
    color: var(--greyed-text);
}

.sidebar input {
    max-width: 230px;
}

.color-wheel-cursor {
    position: fixed;
    width: 32px;
    height: 32px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 999;
    transform: translate(0px, -24px);
    // -webkit-animation: loading 3s linear infinite;
    // -moz-animation: loading 3s linear infinite;
    // animation: loading 3s steps(16) infinite;
}

@-webkit-keyframes loading {
    0% {
        transform: translate(0px, -24px) rotate(0deg);
    }

    100% {
        transform: translate(0px, -24px) rotate(360deg);
    }
}

@-moz-keyframes loading {
    0% {
        transform: translate(0px, -24px) rotate(0deg);
    }

    100% {
        transform: translate(0px, -24px) rotate(360deg);
    }
}

@keyframes loading {
    0% {
        transform: translate(0px, -24px) rotate(0deg);
    }

    100% {
        transform: translate(0px, -24px) rotate(360deg);
    }
}

.addItemButton {
    all: unset;
    display: flex;
    position: relative;
    width: 98%;
    cursor: pointer;
    border-radius: var(--border-radius-base);
    margin: 0;

    &::before,
    &::after {
        content: '';
        position: absolute;
        opacity: 0;
        transition: opacity var(--transition-fast);
    }

    &::before {
        background-color: var(--colorful-button-add);
        border-radius: var(--border-radius-base);
        height: 22px;
        z-index: 1;
        pointer-events: auto;
        box-shadow: var(--box-shadow-base);
        transition: opacity var(--transition-fast),
            height var(--transition-fast),
            box-shadow var(--transition-fast),
            transform var(--transition-fast);
    }

    &:hover::before {
        box-shadow: var(--box-shadow-hover);
        transform: scale(1.01);
    }

    &::after {
        content: '+';
        top: 42%;
        left: 51%;
        transform: translate(-50%, -44%);
        font-weight: bold;
        font-size: 18px;
        color: #ffffff;
        z-index: 2;
        pointer-events: none;
    }
}

.list:last-child:hover .addItemButton {
    height: 22px;
    margin-bottom: 10px;
    margin-top: 7px;

    &::before {
        opacity: var(--colorful-opacity);
        width: 100%;
    }

    &::after {
        opacity: 0.9;
    }
}