body {
    font-family: Inter;
}

.navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1252px;
    margin: 0 auto;
    text-align: center;
    justify-content: flex-start;
    margin: 12vh auto;
}

.heading {
    font-size: 26pt;
    padding: 0;
    text-wrap: balance;
    color: #161616;
    max-width: 400px;
    margin: 22px auto;
    letter-spacing: 1px;
}

.subheading {
    font-size: 16pt;
    margin: 0 auto;
    max-width: 700px;
    padding: 0;
    text-wrap: balance;
    font-weight: 300;
}

.h3-heading {
    margin-bottom: 30px;
}

.button-group {
    display: flex;
    gap: 20px;
}

.nav-button {
    font-family: "Inter", "Roboto", -apple-system, "San Francisco", "Segoe UI", "Helvetica Neue", sans-serif;
    padding: 12px 22px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #3b82f6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;

}

.nav-button:hover {
    background: #0075de;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-button:active {
    transform: translateY(0);
}